<ion-content class="login-content">
  <div class="login-container">

    <div class="login-header">
      <div class="logo-circle">
        <ion-icon name="wallet-outline"></ion-icon>
      </div>
      <h1>MyDigitalWallet</h1>
      <p>Inicia sesión en tu cuenta</p>
    </div>

    <div class="login-form">

      <ion-item lines="none" class="input-item">
        <ion-icon name="mail-outline" slot="start"></ion-icon>
        <ion-input
          type="email"
          placeholder="Correo electrónico"
          [(ngModel)]="email"
          clearInput>
        </ion-input>
      </ion-item>

      <ion-item lines="none" class="input-item">
        <ion-icon name="lock-closed-outline" slot="start"></ion-icon>
        <ion-input
          type="password"
          placeholder="Contraseña"
          [(ngModel)]="password"
          clearOnEdit="false">
        </ion-input>
      </ion-item>

      <div class="error-msg" *ngIf="errorMsg">
        <ion-icon name="alert-circle-outline"></ion-icon>
        {{ errorMsg }}
      </div>

      <ion-button expand="block" class="login-btn" (click)="login()" [disabled]="loading">
        <ion-spinner *ngIf="loading" name="crescent"></ion-spinner>
        <span *ngIf="!loading">Iniciar Sesión</span>
      </ion-button>

      <!-- Botón biometría -->
      <ion-button
        expand="block"
        fill="outline"
        class="biometric-btn"
        *ngIf="biometricAvailable"
        (click)="loginConBiometria()">
        <ion-icon name="finger-print-outline" slot="start"></ion-icon>
        Entrar con Biometría
      </ion-button>
      <!-- Botón Google -->

      
<ion-button
  expand="block"
  fill="outline"
  class="google-btn"
  (click)="loginConGoogle()">
  <ion-icon name="logo-google" slot="start"></ion-icon>
  Continuar con Google
</ion-button>

      <div class="register-link">
        <span>¿No tienes cuenta?</span>
        <ion-button fill="clear" (click)="goToRegister()">Regístrate</ion-button>
      </div>

    </div>
  </div>
</ion-content>